{%load static %}
<!DOCTYPE html>
<html lang="en">

   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="{% static 'css/style.css' %}" />
       <title>Examen</title>
   </head>

   <body>
       <header class="header">
           <div class="container">
            {%if request.user.is_authenticated %}
                <span>Hola {{ request.user.username | title }}</span>

                <a href="{%url 'home'%}"><i class="bi bi-house-fill"></i> Inicio</a>
                <a href="{%url 'tipodocumento'%}"><i class="bi bi-list-document"></i> Tipos de Documento</a> 
                <a href="{%url 'tiposeguro'%}"><i class="bi bi-list-document"></i> Tipos de Seguro</a>   
                <a href="{%url 'paciente'%}"><i class="bi bi-list-document"></i> Lista de Pacientes</a>            
                <a href="{%url 'especialidades'%}"><i class="bi bi-list-document"></i> Lista de Especialidades</a>  
                <a href="{%url 'doctores'%}"><i class="bi bi-list-document"></i> Lista de Doctores</a>     
                <a href="{%url 'citas'%}"><i class="bi bi-list-document"></i> Lista de Citas</a>                                                                                                                                                                                
                <a href="{% url 'logout' %}">Logout</a>
            {%else%}
            <a href="{% url 'home' %}">Inicio</a>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'registro' %}">Registrarse</a>
            {%endif%}
           </div>
       </header>
       <main>
           <div class="container">
            {% block content %}{% endblock content %}
           </div>
       </main>
       <footer class="footer">
           <div class="container">
              <p>&copy; Copyright {% now "Y" %} by <a href="https://www.pythontutorial.net">Python Tutorial</a></p>
           </div>
       </footer>
   </body>

</html>
