{% extends 'base.html' %} {% block content %}

<div class="center">
  <h2>Mi lista de Citas</h2>
  <a href="{% url 'citas-create' %}"><i class="bi bi-plus-circle"></i> Crear cita</a>
  {% if citas %}
  <ul class="citas">
    {% for citas in citas %}
    <li>
      <a href="#" class="{% if citas.completed %}completed{% endif %}">
        {{ citas.paciente.nombres }} {{ citas.paciente.apellidos }} ( {{ citas.especialidad.especialidad_nombre }} ) - {{ citas.fecha_cita }}
      </a>
      <div class="task-controls">
        <div class="container-task">
          <form action="{% url 'citas-delete' citas.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </button>
          </form>
          <a href="{% url 'citas-update' citas.id %}">
            <i class="bi bi-pencil-square"></i>
          </a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>Qué mal, no tienes citas Registradas</p>
  {% endif %}
</div>
{% endblock %}