{%extends 'base.html'%}

{%block content%}

<div class="center">
	<h2>Tipos de Documentos</h2>
    <a href="{%url 'tipodocumento-create'%}"><i class="bi bi-list-document"></i> Crear Tipo de Documento</a>              
	{% if tipodocumento %}
    <ul class="tipodocumento">
        {% for tipodocumento in tipodocumento %}
        
            <li>
                <a href="#" class="">{{ tipodocumento.tipo_documento_nombre }}</a>....  
                <a href="{% url 'tipodocumento-update' tipodocumento.id %}"><i class="bi bi-pencil-square"></i></a>
                <form action="{% url 'tipodocumento-delete' tipodocumento.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Eliminar</i>
                </button>
                </form>
            </li>
        {% endfor %}
    {% else %}
        <p>Aùn no hay tipo de documento</p>
        <a href="{%url 'tipodocumento-create'%}"><i class="bi bi-list-document"></i> Crear Tipo de Documento</a>              
    {% endif %}
	</ul>
</div>
{%endblock content%}